/* Vendors */
// @import "styles/vendors/simple-grid.scss";

/* Main */
@import "styles/templates.scss";

/* Components */
@import "styles/blocks/controls.scss";
@import "styles/blocks/search.scss";
@import "styles/blocks/pagination.scss";
@import "styles/blocks/collection.scss";

@import "styles/comparison-table.scss";
@import "styles/categories-list.scss";
@import "styles/form.scss";
@import "styles/listing.scss";
@import "../../app/views/styles/star-rating.scss";
@import "../../app/views/styles/progress-bar-rating.scss";
// @import "../../app/views/styles/star-rating-review.scss";
@import "../../app/views/styles/pros-and-cons.scss";

/* Vendors */
// @import "vendors/comparison-table/scss/style.scss";

html {
    background: black;
}

.hrp-container {
    margin: 40px 0 !important;
    overflow: auto;
    width: 100%;
}

.hrp-review-list{
    margin: 0;
    list-style: none;
    padding: 0;
    clear: both;   

	li{
		background: #eaeaea;
		margin: 0;
		box-sizing: border-box;
	    border-bottom: 1px solid #e7e7e7;
	    padding: 10px 15px;
	    position: relative;
	    list-style: none!important;
	   
	   :after{
			display: block;
    		clear: both;
       }
    }
}
