@import "styles/templates.scss";
@import "styles/listing.scss";
@import "../../app/views/styles/star-rating.scss";
@import "../../app/views/styles/pros-and-cons.scss";

html {
    background: black;
}

.hrp-container {
    margin: 40px 0;
    overflow: auto;
}
