[submodule "includes/lib/cpt-addon"]
	path = includes/lib/cpt-addon
	url = https://github.com/essekia/starcat-review-cpt.git
[submodule "includes/lib/ct-addon"]
	path = includes/lib/ct-addon
	url = https://github.com/essekia/starcat-review-comparison-table.git
[submodule "includes/lib/starcat-review-woo-notify"]
	path = includes/lib/starcat-review-woo-notify
	url = https://github.com/essekia/starcat-review-woo-notification.git
[submodule "includes/lib/photo-reviews-addon"]
	path = includes/lib/photo-reviews-addon
	url = https://github.com/essekia/starcat-reviews-photo-reviews.git