vendor
node_modules
dist
*.bundle.js
*.bundle.js.map
*.bundle.css
*.bundle.css.map
tmp
starcat-review-build
starcat-review.zip
*.lock
reports
.scannerwork
.vscode
test-artifacts/build/**
package-lock.json

includes/assets/vendors/semantic/bundle/components/
includes/assets/vendors/semantic/bundle/themes/basic/
includes/assets/vendors/semantic/bundle/themes/github/
includes/assets/vendors/semantic/bundle/themes/material/
includes/assets/vendors/semantic/bundle/semantic.css
includes/assets/vendors/semantic/bundle/semantic.js