[submodule "includes/lib/upgrader"]
	path = includes/lib/upgrader
	url = https://essekia@bitbucket.org/pauple/upgrader.git
[submodule "includes/lib/widgetry"]
	path = includes/lib/widgetry
	url = https://essekia@bitbucket.org/pauple/widgetry.git