
@import "../../node_modules/swiper/css/swiper.css";

// All User Uploaded Photos 
.ui.tiny.images .image {
    height: 89px;
    width: 89px;    
    
    & img{             
        height: 89px;
        width: 89px;
        object-fit: cover;
    }

    & span{
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: #1b1c1d ;            
        opacity: .6;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #f0f0f0;
        font-size: 18px;
        font-weight: 500;     
    }
}

.scr-photos-review{
    box-sizing: border-box;
    background-color: #1b1c1d ; 
    
    & .photos-review-gallery-thumbs{        
        padding: 10px;
        & .photos-review__slide.swiper-slide{        
            width: 89px;        
            img{         
                height: 89px;       
                width: 89px;   
                object-fit: cover;
            }
        }
        & .photos-review__slide-active, .swiper-slide-active{        
            border: 2px solid #f0f0f0;        
        }       
    }

    & .photos-review-gallery-top {
        padding: 10px;
        & .photos-review__slide.swiper-slide {
            text-align: center;
        }
    }

    & .photos-review__button-prev, .photos-review__button-next{
        display: none;        
        position: absolute;        
        top: 50%;
        z-index: 10;        
        cursor: pointer;        
        align-items: center;
        justify-content: center; 
        
        &.swiper-button-disabled,.swiper-button-disabled {
            opacity: 0.35;
            cursor: auto;
            pointer-events: none;
        }
    } 
    & .photos-review__button-prev{
        left: 10px;
    }
    & .photos-review__button-next{
        right: 10px;
    }

    &:hover{
        & .photos-review__button-prev, .photos-review__button-next{
            display: flex;
        } 
    }
    
}