$graylight: #e7e7e7;

.review-list,
.reviewed-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

    .review-item,
    .reviewed-item {
        display: flex;
        align-items: baseline;
        margin: 6px 0px;
        padding: 2px 0;

        .review-item-label,
        .reviewed-item-label {
            height: 35px;

            &__text {
                text-transform: capitalize;
                flex-basis: 80px;
                font-weight: 500;
            }
            &__divider {
                margin: 0px 5px;
            }
            &__score {
                color: #0274be;
                margin-left: 3px;
                font-size: 1rem;
            }
        }
    }

    .review-item-stars,
    .reviewed-item-stars {
        float: right;
        box-sizing: border-box;

        .stars-wrapper {
            position: absolute;
            // display: inline-block;
        }
        .stars-result {
            overflow: hidden;
            position: relative;
            white-space: nowrap;
        }

        img {
            height: 35px;
            max-width: inherit;
        }
        i {
            // Google Rating Orange #e7711b, dark gray #504740, yellow #fcb600;
            // margin: 0px 5px;
            margin: 0 1px;
            font-size: 1.1em;
            color: #e7711b;
            box-sizing: border-box;
        }
    }

    .review-item-bars,
    .reviewed-item-bars {
        .bars-wrapper {
            width: 75%;
            float: right;
            height: 25px;
            margin-top: 5px;
            position: relative;
            text-align: center;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1),
                0 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.04);
            // background-color: #95bae0;
            .bars-result {
                height: 25px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;
                background-color: #d8d8d8;
            }
            .bars-score {
                line-height: 25px;
                position: relative;
                font-size: 12px;
            }
        }
    }

    .review-item-stars,
    .review-item-bars {
        :hover {
            cursor: pointer;
        }
    }
}

.woocommerce {
    // .review-list,
    // .reviewed-list {
    // .review-item,
    // .reviewed-item {
    // margin: 0px;
    // padding: 0px;
    //     }
    // }
    .woocommerce-scr-review-link {
        margin-bottom: 1em;
        display: inline-block;
        text-decoration: underline;
        font-weight: 600;
        &:hover {
            text-decoration: none;
        }
    }
}
