// Single Page Review Comment List
.scr-collection.list.row.ui.comments {
    max-width: inherit;
    margin: 0 -1rem;
    & .scr-review-card.comment {
        padding: 1em;
        width: 100%;
        box-shadow: none;
        border: solid 1px rgba(0, 0, 0, 0.1);
        & .hrv-pros-cons.scr-container {
            margin: 0 !important;
            margin-top: 1rem !important;
            & h4 {
                font-weight: 500;
            }
        }
    }
}
