$graylight: #e7e7e7;

.review-list,
.reviewed-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid $graylight; // Error color #e0b4b4;
    border-radius: 5px;

    .review-item,
    .reviewed-item {
        border-bottom: 1px solid $graylight;
        padding: 10px 15px;
        overflow: hidden;

        :after {
            display: block;
            clear: both;
        }

        .review-item-label,
        .reviewed-item-label {
            height: 35px;
            display: flex;
            align-items: center;

            &__text {
                text-transform: uppercase;
            }
            &__divider {
                margin: 0px 5px;
            }
            &__score {
                background: #eee;
                border-radius: 5px;
                padding: 0px 5px;
                font-weight: 400;
                font-size: 12px;
            }
        }
    }

    .review-item-stars,
    .reviewed-item-stars {
        float: right;
        height: 35px;
        box-sizing: border-box;

        .stars-wrapper {
            position: absolute;
            display: inline-block;
        }
        .stars-result {
            height: 35px;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
        }

        img {
            height: 35px;
            max-width: inherit;
        }
        i {
            // Google Rating Orange #e7711b, dark gray #504740, yellow #fcb600;
            margin: 0px 5px;
            font-size: 1.4em;
            color: #e7711b;
            box-sizing: border-box;
        }
    }

    .review-item-bars,
    .reviewed-item-bars {
        .bars-wrapper {
            width: 75%;
            float: right;
            height: 25px;
            margin-top: 5px;
            position: relative;
            text-align: center;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1),
                0 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.04);
            // background-color: #95bae0;
            .bars-result {
                height: 25px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;
                background-color: #d8d8d8;
            }
            .bars-score {
                line-height: 25px;
                position: relative;
                font-size: 12px;
            }
        }
    }

    .review-item-stars,
    .review-item-bars {
        :hover {
            cursor: pointer;
        }
    }
}

.hrp-review-card {
    & .reviewed-list {
        border: 0px;
        margin-bottom: 3px;
        & .reviewed-item {
            border-bottom: 0;
            padding: 0;
            & .reviewed-item-stars {
                float: left;
                ::after {
                    clear: both;
                }
            }
            & .reviewed-item-label__text {
                margin-left: 1rem;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
    }
}
