.hrp-archive-description {
    margin: 0;
    padding: 5em 6.67em 3.33333em;
    background-color: #eee;
}

.hrp-entry-title {
    line-height: 1.3;
    font-size: 2.6666666666667rem;
}

.hrp-archive-post {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 5.34em 6.67em;
}

.sidebar {
    float: left;
    width: 30%;
    margin: 60px auto 40px auto;
    padding-left: 60px;
}
