/* Basic Structure */

.scr-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.scr-container #primary,
.scr-container #secondary {
    float: left;
}

.scr-container #primary {
    width: 70%;
}

.scr-container #secondary {
    padding-left: 60px;
    width: 30%;
}

.scr-left-sidebar #secondary {
    padding-right: 60px;
}

@media (max-width: 768px) {
    .scr-left-sidebar.scr-container {
        width: 100%;
    }

    .scr-container #primary,
    .scr-container #secondary {
        width: 100%;
    }
}

/* Basic Style */
body .scr-container #primary {
    background: white;
    padding: 40px !important;
}

/* Other */
.scr-archive-description {
    margin: 0;
    // padding: 5em 6.67em 3.33333em;
    padding: 2em;
    background-color: #eee;

    & .term-description {
        margin-top: 1em;
        padding-left: 0.5em;
    }
}

.scr-entry-title {
    line-height: 1.3;
    font-size: 2.6666666666667rem;
}

.scr-archive-post {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 5.34em 6.67em;
}

.sidebar {
    float: left;
    width: 30%;
    margin: 60px auto 40px auto;
    padding-left: 60px;
}

.scr-section-title {
    text-align: center;
    margin: 40px 0;
}
// Category Template

.scr-category-page-content-area {
    margin: 40px 0;
}
