/* Vendors */
// @import "styles/vendors/simple-grid.scss";

/* Main */
@import "scss/templates.scss";

/* Components */
@import "scss/blocks/controls.scss";
@import "scss/blocks/search.scss";
@import "scss/blocks/pagination.scss";
@import "scss/blocks/collection.scss";

@import "scss/components/comparison-table.scss";
@import "scss/components/categories-list.scss";
@import "scss/components/single-list.scss";
@import "scss/components/summary.scss";
@import "scss/components/form.scss";
@import "scss/components/listing.scss";
@import "scss/components/photos-review.scss";
@import "scss/components/stats.scss";
@import "scss/components/pros-and-cons.scss";

@import "scss/components/fixes.scss";

/*
    Custom comparison-table Styles
*/
@import "scss/components/compare-table-custom.scss";

/* Overrides for Dev Environment Only */
// @import "styles/dev.scss";
/* Vendors */
// @import "vendors/comparison-table/scss/style.scss";

html {
    background: black;
}

.scr-container {
    margin: 40px 0 !important;
    overflow: auto;
    width: 100%;
}

.scr-review-list {
    margin: 0;
    list-style: none;
    padding: 0;
    clear: both;
    border: 1px solid #e7e7e7; // Error color #e0b4b4;
    border-radius: 5px;

    li {
        margin: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #e7e7e7;
        padding: 10px 15px;
        position: relative;
        list-style: none !important;

        :after {
            display: block;
            clear: both;
        }
    }
}
