
.hrp-review-list {

    .single-bar-review{
        
        &__label{
            text-transform: capitalize;
            width: 25%;
        }        

        &__wrapper{
            height: 25px;
            white-space: nowrap;
            background-color: #95bae0;                         
            position: relative;
            width: 75%;
            float: right;     
            text-align: center;
            border-radius: 2px
        }

        &__results{            
            height: 25px;
            position: absolute;            
            background-color: #1e73be;
            transition: width 2s ease;
            overflow: hidden;
            white-space: nowrap;            
            border-radius: 2px
        }

        &__text{
            position: inherit;
            left: 4px;
            top: 0;
            font-size: 16px;
            line-height: 25px;
            color: #e7e7e7;
        }              
    }    
        
}

// User Review
.hrp-review-list.user-review{
    
    .single-bar-review{        
        
        &__wrapper:hover{
            cursor: pointer;
        }

        &__results{   
            transition: none;
        }
    }
    
}
