// Based on https://codepen.io/jamesbarnett/pen/vlpkh

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
    margin: 0;
    padding: 0;
}
// body {
//     margin: 20px;
// }
h1 {
    font-size: 1.5em;
    margin: 10px;
}

.hrp-rating-collection {
    width: 250px;
    background: #f5f5f5;
    padding: 2em;

    .single-rating {
        float: left;
        width: 100%;
    }

    .rating-label {
        float: left;
        margin-top: 9px;
        margin-right: 10px;
        width: 100px;
    }
        
}

/****** Style Star Rating Widget *****/

.rating-fieldset {
    border: none;
    display: inline-block;
    float: right;
    transition: width 2s ease;
}

.rating-fieldset > input {
    display: none;
}
.rating-fieldset > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f004";
}


.rating-fieldset > .half:before {
    padding-right: 0;
    width: 9px;
    position: absolute;
    margin-left: -50;
    overflow: hidden;
}

.rating-fieldset > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

// .rating-fieldset > input:checked ~ label, /* show gold star when clicked */
// .rating-fieldset:not(:checked) > label:hover, /* hover current star */
// .rating-fieldset:not(:checked) > label:hover ~ label {
//     color: #ffd700;
// } /* hover previous stars in list */

// .rating-fieldset > input:checked + label:hover, /* hover current star when changing rating */
// .rating-fieldset > input:checked ~ label:hover,
// .rating-fieldset > label:hover ~ input:checked ~ label, /* lighten current selection */
// .rating-fieldset > input:checked ~ label:hover ~ label {
//     color: #ffed85;
// }


/* Click + hover color */
.rating-fieldset > input:checked ~ label, /* color current and previous stars on checked */
.rating-fieldset > label:hover, .rating-fieldset > label:hover ~ label { color:  #ffed85;  } /* color previous stars on hover */

/* Hover highlights */
.rating-fieldset > input:checked + label:hover, .rating-fieldset > input:checked ~ label:hover, /* highlight current and previous stars */
.rating-fieldset > input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
.rating-fieldset > label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #ffd700 ;  } 

