
.hrp-review-list {

	.single-review{
		float: right;
		position: relative;			
		font-size: 20px;
		margin: 0 auto;			

		img{
			height: 35px;
			max-width: inherit;		    	
			padding: 0;			   
		}

		&__wrapper{
			white-space: nowrap;
			display: inline-block;
			position: absolute;				
		}

		&__results{		    		    		    
			overflow: hidden;
			background-color: transparent;
			position: relative;
			white-space: nowrap;
			transition: width 2s ease;

			i{
				color: #ffd700;									
			}
		}
		&__wrapper i:not(:first-of-type), &__results i:not(:first-of-type){
			margin-left: 10px;
		}
	}	

}

// User Review
.hrp-review-list.user-review{
    .single-review{        
        &__wrapper:hover{
            cursor: pointer;
        }
        &__results{   
            transition: none;
        }
    }
}

	

